age.agekey
^clustertool.exe
^clustertool*
^clustertool
*clustertool.exe
clustertool.exe
clustertool
sopssecret.yaml
sopssecret*
*sopssecret*
mounts/

# decrypted temp files anywhere
**/.decrypted~*
.mise/
logs/
kubeconfig
utilities/

# Clustertool
/clustertool
/clustertool.exe
# Secrets
age.agekey
*.pub
*.key
*.decrypted~*.yaml
# Kubernetes
kubeconfig
talosconfig
